@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

button {
  font-family: 'Open Sans', sans-serif;
}

#appWrapper {
  max-width: 1300px;
  margin: auto;
  padding: 20px 0;
}

header {
  display: flex;
  justify-content: space-between;
}

header > div > h2 {
  font-weight: 500;
}

#menu > ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

#menu > ul > li {
  list-style: none;
}

/* Global styles or component-specific styles */
.bottomPlayer.visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.bottomPlayer {
  position: fixed;
  bottom: 100px; /* Adjust this value to your desired space */
  left: 0;
  right: 0;
  background-color: white;
  padding: 4px;
  box-shadow: 0px 0px 8px -2px #0000004d;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s, transform 0.5s;
  transform: translateY(100%);
}

.audioPlayer {
  width: 100% !important;
  height: 43px !important;
  margin-top: 14px;
}

.audioPlayer > audio {
  border-radius: 99999px;
}


/* Add any additional styles you need */

@media screen and (max-width: 320px) {
  .songWrapper {
    width: 100%;
    margin: 30px;
  }

  .songWrapper > img {
    width: 100%;
  }

  /* Post Music Page Form */
  .mobileWidth {
    max-width: 100% !important;
    padding: 20px;
  }
}


@media screen and (min-width: 320px) and (max-width: 480px) {
  .songWrapper {
    width: 100%;
    margin: 30px;
  }

  .songWrapper > img {
    width: 100%;
  }

  /* Post Music Page Form */
  .mobileWidth {
    max-width: 100% !important;
    padding: 20px;
  }
}